{
  "swagger" : "2.0",
  "info" : {
    "description" : "Bluedot Innovation Configuration API\n[https://bluedot.io](https://bluedot.io)\nAuthentication: Use the sessions endpoint to obtain an accessToken, and then supply it in the Authorization header for subsequent requests\n",
    "version" : "1.1.39",
    "title" : "Bluedot Innovation Configuration API",
    "termsOfService" : "https://bluedot.io/terms/",
    "contact" : {
      "email" : "help@bluedot.io"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo" : {
      "url" : "https://raw.githubusercontent.com/Bluedot-Innovation/Config-API-Swagger/master/images/img-logo-be.png",
      "backgroundColor" : "#FFFFFF",
      "altText" : "Bluedot logo"
    }
  },
  "host" : "config.bluedot.io",
  "basePath" : "/prod1",
  "tags" : [ {
    "name" : "sessions",
    "description" : "Session management",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://bluedot.io"
    }
  }, {
    "name" : "users",
    "description" : "Operations about Users",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://bluedot.io"
    }
  }, {
    "name" : "projects",
    "description" : "Operations about Projects",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://bluedot.io"
    }
  }, {
    "name" : "zones",
    "description" : "Operations about Zones",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://bluedot.io"
    }
  }, {
    "name" : "beacons",
    "description" : "Operations about Beacons",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://bluedot.io"
    }
  }, {
    "name" : "tags",
    "description" : "Operations about Tags",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://bluedot.io"
    }
  }, {
    "name" : "credentials",
    "description" : "Operations about Credentials",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://bluedot.io"
    }
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/password/token-request" : {
      "post" : {
        "tags" : [ "credentials" ],
        "summary" : "Trigger a password reset token",
        "operationId" : "createTokenRequest",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Email address of account to be reset",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Email"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Password reset token successfully generated",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "some error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Invalid user",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Invalid user",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "##AUTHENTICATOR_URI",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{\"fun\": \"generatePasswordToken\", \"httpMethod\": \"$context.httpMethod\", \"body\": $input.json('$')}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "204",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.json('$.body')"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "credentials" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "operationId" : "optionPasswordResetRequest",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "mock",
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 200}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods" : "'POST'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method" : {
        "consumes" : [ "application/json" ],
        "responses" : {
          "405" : {
            "description" : "405 response"
          }
        },
        "x-amazon-apigateway-integration" : {
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 405}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock",
          "responses" : {
            "default" : {
              "statusCode" : "405",
              "responseTemplates" : {
                "application/json" : "{\"message\": \"Method $context.httpMethod is not allowed for this endpoint.\"}"
              }
            }
          }
        }
      }
    },
    "/password/token" : {
      "post" : {
        "tags" : [ "credentials" ],
        "summary" : "Use password reset token to change password",
        "operationId" : "resetPassword",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "credentials of account to be reset",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PasswordReset"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Password successfully reset",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/AuthenticationTokens"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "##AUTHENTICATOR_URI",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{\"fun\": \"resetPassword\", \"httpMethod\": \"$context.httpMethod\", \"body\": $input.json('$')}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "201",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "credentials" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "operationId" : "optionPasswordReset",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "mock",
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 200}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods" : "'POST'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method" : {
        "consumes" : [ "application/json" ],
        "responses" : {
          "405" : {
            "description" : "405 response"
          }
        },
        "x-amazon-apigateway-integration" : {
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 405}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock",
          "responses" : {
            "default" : {
              "statusCode" : "405",
              "responseTemplates" : {
                "application/json" : "{\"message\": \"Method $context.httpMethod is not allowed for this endpoint.\"}"
              }
            }
          }
        }
      }
    },
    "/password/new" : {
      "post" : {
        "tags" : [ "credentials" ],
        "summary" : "Use the temporary password to change a newly created user's password",
        "operationId" : "createNewPassword",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "credentials of account to be reset",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PasswordNew"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Password successfully reset",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/AuthenticationTokens"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "##AUTHENTICATOR_URI",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{\"fun\": \"setNewUserPassword\", \"httpMethod\": \"$context.httpMethod\", \"body\": $input.json('$')}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "201",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "credentials" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "operationId" : "optionPasswordNew",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "mock",
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 200}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods" : "'POST'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method" : {
        "consumes" : [ "application/json" ],
        "responses" : {
          "405" : {
            "description" : "405 response"
          }
        },
        "x-amazon-apigateway-integration" : {
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 405}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock",
          "responses" : {
            "default" : {
              "statusCode" : "405",
              "responseTemplates" : {
                "application/json" : "{\"message\": \"Method $context.httpMethod is not allowed for this endpoint.\"}"
              }
            }
          }
        }
      }
    },
    "/tags" : {
      "get" : {
        "tags" : [ "tags" ],
        "summary" : "Get a list of all tags being used on zones by projectId",
        "description" : "Returns tags by projectId",
        "operationId" : "getTags",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Format: Bearer {{access_token}}",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "projectId",
          "in" : "query",
          "description" : "Project to search for tags in",
          "required" : true,
          "type" : "string",
          "pattern" : "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            },
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              },
              "example" : [ "lines", "borders", "stripes" ]
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "publicapi-custom-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "arn:aws:apigateway:ap-southeast-2:lambda:path/2015-03-31/functions/arn:aws:lambda:##AWS_REGION##:##AWS_ACCOUNT_NUMBER##:function:${stageVariables.TagLambdaFunctionName}/invocations",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{ \"fun\": \"searchTags\", \"token\":\"$input.params('Authorization')\", \"projectId\": \"$input.params('projectId')\" }"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.json('$.body')"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "tags" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "operationId" : "optionTags",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "mock",
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 200}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods" : "'GET,PUT,PATCH,POST,DELETE'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "{}"
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method" : {
        "consumes" : [ "application/json" ],
        "responses" : {
          "405" : {
            "description" : "405 response"
          }
        },
        "x-amazon-apigateway-integration" : {
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 405}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock",
          "responses" : {
            "default" : {
              "statusCode" : "405",
              "responseTemplates" : {
                "application/json" : "{\"message\": \"Method $context.httpMethod is not allowed for this endpoint.\"}"
              }
            }
          }
        }
      }
    },
    "/sessions" : {
      "post" : {
        "tags" : [ "sessions" ],
        "summary" : "Authenticate a user",
        "operationId" : "createSession",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Credentials"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "User authenticated",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/AuthenticationTokens"
            }
          },
          "400" : {
            "description" : "Invalid user",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "##AUTHENTICATOR_URI",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{\"fun\": \"login\", \"httpMethod\": \"$context.httpMethod\", \"body\": $input.json('$')}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "201",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "sessions" ],
        "summary" : "Refreshe a session",
        "operationId" : "refreshSession",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Format: Bearer {{access_token}}",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "refreshToken",
          "description" : "a special token that can be used to obtain a renewed access token.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RefreshToken"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Session refreshed",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/AuthenticationRefreshTokens"
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "##AUTHENTICATOR_URI",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{\"fun\": \"refresh\", \"httpMethod\": \"$context.httpMethod\", \"body\": $input.json('$'), \"headers\": { #foreach($param in $input.params().header.keySet()) \"$param\": \"$util.escapeJavaScript($input.params().header.get($param))\" #if($foreach.hasNext),#end #end }}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "201",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.json('$.body')"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "sessions" ],
        "summary" : "Log a user out",
        "operationId" : "deleteSession",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Format: Bearer {{access_token}}",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "User logged out",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid user",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "publicapi-custom-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "##AUTHENTICATOR_URI",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{\"fun\": \"logout\", \"httpMethod\": \"$context.httpMethod\", \"headers\": { #foreach($param in $input.params().header.keySet()) \"$param\": \"$util.escapeJavaScript($input.params().header.get($param))\" #if($foreach.hasNext),#end #end }}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "201",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "sessions" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "operationId" : "optionSession",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "mock",
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 200}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods" : "'POST, PUT, DELETE, GET'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "{}"
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method" : {
        "consumes" : [ "application/json" ],
        "responses" : {
          "405" : {
            "description" : "405 response"
          }
        },
        "x-amazon-apigateway-integration" : {
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 405}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock",
          "responses" : {
            "default" : {
              "statusCode" : "405",
              "responseTemplates" : {
                "application/json" : "{\"message\": \"Method $context.httpMethod is not allowed for this endpoint.\"}"
              }
            }
          }
        }
      }
    },
    "/users" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Get all users",
        "operationId" : "searchUsers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Format: Bearer {{access_token}}",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            },
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/User"
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "publicapi-custom-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "arn:aws:apigateway:ap-southeast-2:lambda:path/2015-03-31/functions/arn:aws:lambda:##AWS_REGION##:##AWS_ACCOUNT_NUMBER##:function:${stageVariables.UserLambdaFunctionName}/invocations",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{ \"fun\": \"searchUsers\", \"token\": \"$input.params('Authorization')\", \"accountId\": \"$input.params('accountId')\" }"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.json('$.body')"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Add a user",
        "operationId" : "addUser",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Format: Bearer {{access_token}}",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "User object that needs to be added",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "User created",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/UserResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "publicapi-custom-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-request-validator" : "NONE",
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "arn:aws:apigateway:ap-southeast-2:lambda:path/2015-03-31/functions/arn:aws:lambda:##AWS_REGION##:##AWS_ACCOUNT_NUMBER##:function:${stageVariables.UserLambdaFunctionName}/invocations",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{ \"fun\": \"postUser\", \"token\": \"$input.params('Authorization')\", \"httpMethod\": \"$context.httpMethod\", \"body\": $input.json('$') }"
          },
          "responses" : {
            "default" : {
              "statusCode" : "201",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.json('$.body')"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "users" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "operationId" : "optionUsers",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "mock",
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 200}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods" : "'GET,POST,PUT,DELETE'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "{}"
              }
            }
          }
        }
      },
      "x-amazon-apigateway-any-method" : {
        "consumes" : [ "application/json" ],
        "responses" : {
          "405" : {
            "description" : "405 response"
          }
        },
        "x-amazon-apigateway-integration" : {
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 405}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock",
          "responses" : {
            "default" : {
              "statusCode" : "405",
              "responseTemplates" : {
                "application/json" : "{\"message\": \"Method $context.httpMethod is not allowed for this endpoint.\"}"
              }
            }
          }
        }
      }
    },
    "/users/{userId}" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Find user by userId",
        "description" : "Returns a single user",
        "operationId" : "getUserById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Format: Bearer {{access_token}}",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The identifier of the user to return.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "publicapi-custom-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "arn:aws:apigateway:ap-southeast-2:lambda:path/2015-03-31/functions/arn:aws:lambda:##AWS_REGION##:##AWS_ACCOUNT_NUMBER##:function:${stageVariables.UserLambdaFunctionName}/invocations",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{ \"fun\": \"getUser\", \"token\": \"$input.params('Authorization')\", \"userId\": \"$input.params('userId')\" }"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.json('$.body')"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "users" ],
        "summary" : "Update a complete user",
        "operationId" : "replaceUser",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Format: Bearer {{access_token}}",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The identifier of the user being updated.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "User that needs to be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "User updated",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "publicapi-custom-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "arn:aws:apigateway:ap-southeast-2:lambda:path/2015-03-31/functions/arn:aws:lambda:##AWS_REGION##:##AWS_ACCOUNT_NUMBER##:function:${stageVariables.UserLambdaFunctionName}/invocations",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{ \"fun\": \"putUser\", \"token\": \"$input.params('Authorization')\", \"userId\": \"$input.params('userId')\", \"body\": $input.json('$') }"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.json('$.body')"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Delete a user",
        "operationId" : "deleteUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Format: Bearer {{access_token}}",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The identifier of user to be deleted.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
        } ],
        "responses" : {
          "200" : {
            "description" : "User deleted",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "User not found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "publicapi-custom-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws",
          "uri" : "arn:aws:apigateway:ap-southeast-2:lambda:path/2015-03-31/functions/arn:aws:lambda:##AWS_REGION##:##AWS_ACCOUNT_NUMBER##:function:${stageVariables.UserLambdaFunctionName}/invocations",
          "httpMethod" : "POST",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{ \"fun\": \"deleteUser\", \"token\": \"$input.params('Authorization')\", \"httpMethod\": \"$context.httpMethod\", \"userId\": \"$input.params('userId')\", \"body\": $input.json('$') }"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ResourceExceededError.*" : {
              "statusCode" : "429",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*ServerError.*" : {
              "statusCode" : "500",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "users" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "operationId" : "optionUser",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Format: Bearer {{access_token}}",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The identoifier of the user.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "User that needs to be added",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "429" : {
            "description" : "Resource Exceeded",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "headers" : {
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "type" : "mock",
          "passthroughBehavior" : "never",
          "requestTemplates" : {
            "application/json" : "{\"statusCode\" : 200}"
          },
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Methods" : "'GET,POST,PUT,DELETE'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.json('$.body')"
              }
            },
            ".*ValidationError.*" : {
              "statusCode" : "400",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*PermissionError.*" : {
              "statusCode" : "403",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              },
              "responseTemplates" : {
                "application/json" : "$input.path('$.errorMessage')"
              }
            },
            ".*NotFoundError.*" : {
              "statusCode" : "404",
              "responseParameters" : {
[...]
